input[type=text]{
    width: 4em;
    text-align: right;
}

td{
    text-align: center;
}

div.container{
    display: flex;
    justify-content: center;
}

div.container table:not(:last-child){
    margin-right: 2em;
}

div.container table td:first-child{
    padding: 0 1em 0 1em;
}

div.button{
    float: none;
    text-align: center;
    margin-bottom: 2em;
}
